$smartphone_max: 757px;
$tablet_min: #{$smartphone_max} + 1;
$tablet_max: 960px;
$minidesktop_min: #{$tablet_max} + 1;
$minidesktop_max: 1400px;
$desktop_min: #{$minidesktop_max} + 1;

$smartphone: "(max-width: #{$smartphone_max})";
$tablet: "(min-width: #{$tablet_min}) and (max-width: #{$tablet_max})";
$minidesktop: "(min-width: #{$minidesktop_min}) and (max-width: #{$minidesktop_max})";
$desktop: "(min-width: #{$desktop_min})";

$lessThanTablet: "(max-width: #{$tablet_max})";
$greaterThanTablet: "(min-width: #{$minidesktop_min})";

$title: "h1,h2,h3,h4,h5,h6";
$text: "span,p,a";
$default_background_color_primary: hsl(223, 82%, 58%);
$default_text_color_primary: hsl(0, 0%, 100%);
$section_odd_background_color_secundairy: hsl(0, 0%, 90%);
$section_odd_text_color_secundairy: hsl(0, 0%, 10%);
$section_even_background_color_secundairy: hsl(0, 0%, 100%);
$section_even_text_color_secundairy: $section_odd_text_color_secundairy;


$box_padding: 100px;
$box_padding_medium: 50px;
$box_padding_small: 5vw;

$startpage-order-big: (
    1: 1,
    2: 4,
    3: 2,
    4: 5,
    5: 3,
    6: 6
  ) !default;
$startpage-order-small: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6
  ) !default;
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$font-primary: "Roboto", sans-serif;
$font-secundairy: "Open Sans", 'Helvetica-Neue','Helvetica','Arial', sans-serif;

// The color of icons, text, and the big play button border.
// Try changing to #0f0
$primary-foreground-color: #fff; // #fff default

// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: hsl(223, 82%, 58%);//#2B333F;  // #2B333F default

// Try changing to true
$center-big-play-button: true; // true default
