// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
//  @include flexbox();
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// @include flex();
@mixin flex($values) {// item:  none | [ <flex-grow> <flex-shrink>? || <flex-basis> ]
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

// @include order();
@mixin order($val) {//item: nummer
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
// @include align-items();
@mixin align-items($val) {//item: center | flex-start
  -webkit-box-align: $val;
  -webkit-align-items: $val;
  -ms-flex-align: $val;
  align-items: $val;
}
// browser prefixes for direction
@mixin flex-direction($val1,$val2) {
  -webkit-box-orient: $val1;
  -moz-box-orient: $val1;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: $val2;
  -ms-flex-direction: $val2;
  flex-direction: $val2;
}

@mixin flex-order($val){
  -webkit-box-ordinal-group: $val+1;
  -moz-box-ordinal-group: $val+1;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
//other:
/*
container:
  flex-direction: row | row-reverse | column | column-reverse;
  flex-flow: <flex-direction> || <flex-wrap>
  flex-wrap: nowrap | wrap | wrap-reverse;

  justify-content: flex-start | flex-end | center | space-between | space-around;
  align-items: flex-start | flex-end | center | baseline | stretch;
  align-content: flex-start | flex-end | center | space-between | space-around | stretch;

item:
  order: <integer>;
  justify-content: flex-start | flex-end | center | space-between | space-around;
  flex-grow: <number>; // default 0
  flex-shrink: <number>; // default 1
  flex-basis: <length> | auto; // default auto
  flex: none | [ <flex-grow> <flex-shrink> || <flex-basis> ]

  align-self: auto | flex-start | flex-end | center | baseline | stretch;
*/
